html {
	font-size: 65.2%;
	color:#777;
	line-height: 1.7;
	font-family: 'Open Sans', Arial, sans-serif;
}

body {
	font-size: 20px;
	font-size:2rem;
	font-weight: 300;
}


h1, h2 {
	font-size: 30px;
	font-size: 3rem;
	line-height: 1.7;
	margin: 10px 0;
	font-weight: 300;
	letter-spacing: -1px;
	font-size: 40px;
}



h2 a {
	font-weight: 300;
	letter-spacing: -1px;
	font-size: 30px;
	font-size: 3rem;
	margin: 10px 0;
	color:#777;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

h3 {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 300;
	font-size: 26px;
	font-size: 2.6rem;
	margin-bottom: 10px;
	margin-top:0;
}


h4, h5, p, li, a {
	font-weight: 700;
	font-size: 14px;
	font-size: 1.4rem;
	margin:0;
}

h4 {
	margin-bottom:5px;
}


p, li, a{
	font-weight: 300;
	line-height: 1.7;
}
p {
	margin-bottom:20px;
}
a {
	color: #27a1c0;
}

a:hover {
	color:#107d98;
	text-decoration: underline;
}

button,
.btn {
	text-decoration: none;
	display: inline-block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #aaa;
	padding: 10px;
	color: #555;
	-webkit-transition: background .2s; /* For Safari 3.1 to 6.0 */
    transition: background .2s;
    background: white;

	&:hover {
		background:#eee;
	}
	&:focus,
	&:active {
		background:#ddd;
	}
}

input[type="text"] {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.main {
	margin: 0 auto;
	padding: 4%;
	box-sizing:border-box;
	background: white;
	border-radius: 10px;
	overflow: hidden;

	&--header {
		padding-top: 50px;
	}
}

.main--nav {
	background:#333;
	position: fixed;
	z-index: 1000;
	width:100%;
	top:0;


	ul {
		margin:0;
		padding:0;
	}
	li {
		list-style: none;
	}
	a {
		color:white;
	}

	&-wrapper {
		padding: 0 20px;
		margin: 0 auto;
		box-sizing:border-box;
		height:50px;
	}

	&-trigger {
		height:30px;
		width:28px;
		display: block;
		float:left;
		margin-top: 15px;
		text-indent: -9999;
		font-size: 0;
		position: absolute;

		span {
			background: white;
			height: 3px;
			width: 28px;
			float: left;
			margin-bottom: 5px;
		}
	}

	&-target {
		background:#333;
		position: absolute;
		left: -200px;
		top: 50px;
		width: 200px;
		height: 3000px;
		border-top: 1px solid #222;
		-webkit-transition: left .2s; 
		transition: left .2s;

		&.active {
			left: 0;
		}

		a {
			text-decoration: none;
			padding: 10px 20px;
			box-sizing: border-box;
			border-bottom: 1px solid #222;
			display: block;
			color:white;
			font-size: 16px;
			font-size: 1.6rem;

			&:hover {
				background:#222;
			}


		}	
	}
}

.logo {
	font-family: 'Stalemate', cursive;
	color:white;
	font-size: 3.8rem;
	text-align: center;
	width: 100%;
	display: block;

	span {
		margin-top: 3px;
		display: inline-block;

		a {
			text-decoration: none;
			font-size: 40px;
		}
	}	
}

.alert-message {
	background:#eab8b8;

	&--inside {
		
		display: none;
		margin: 0 auto;
		padding: 20px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;

	}

	p {
		margin-bottom:0;
		max-width: 68%;
		
	}
}

.oldbrowser {
	.oldbrowser-message {
		display:block;
	}
}


.large-input {
	&--wrapper {
		top: 120px;
		margin: 0 auto;
		position: relative;
		z-index: 100;
		padding:0 4%;
		box-sizing:border-box;
	}

	padding: 5px;
	box-sizing: border-box;
	background: #bbdcde;
	border-radius: 5px;
	overflow: hidden;
	position: absolute;
	top:100px;
	width:100%;

	input[type='text'] {
		border-radius: 5px;
		height: 28px;
		border: 1px solid #ccc;
		font-size: 25px;
		padding: 10px;
		color: #aaa;
		font-style: italic;
		float:left;
		width:70%;
	}

	.btn {
		background: white;
		font-size: 16px;
		height: 50px;
		float: left;
		width:25%;
	}
	
}

.mail-holder {
	clear: both;
	display: block;
	overflow: hidden;
	margin-bottom:10px;

	img {
		float:left;
		width:70px;
		border:1px solid #eee;
		padding:5px;
		border-radius: 5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		margin-right:10px;
	}
	div {
		padding-top:40px;
		font-size: 14px;
		font-size: 1.4rem;
	}
}

.page-bottom {
	margin-top:70px;		
	height: 32px;
	border-top: 1px solid #ddd;
	width: 100%;
	
	&--image {
		text-indent: -9999px;
		background: url("../img/howler-logo-small.png") no-repeat center;
		height: 50px;
		top: -25px;
		position: relative;
		margin: 0 auto;
		width: 50px;
		padding: 0 10px 0 10px;
		background-color: white;
		display: block;
	}
}


/* Overrides for mobile portrait */
@media (max-width: 479px) {

}
/*  Phone Landscape */
@media (min-width: 480px) {
	.large-input {
		max-width: 62%;
	}
}

/*  Small tablets Portrait */
@media (min-width: 569px) {
	h1, h2 {
		margin-top:20px;
		font-size: 40px;
		font-size: 4rem;
	}

	h2 a {
		font-size: 40px;
		font-size: 4rem;
	}


	h4, h5, p, li, a {
		font-size: 18px;
		font-size: 1.8rem;
	}


	.main--header--nav-target {
		width:270px;
		left:-270px;
	}

	.mail-holder div {
		font-size: 16px;
		font-size: 1.6rem;
	}

}

/*  Small Desktop / tablets Landscape  */
@media (min-width: 769px) {


}

/*  Large Desktop */
@media (min-width: 1025px) {

	.main {
		padding:6% 2% 2% 2%;
		width:80%;
		position:relative;
	
		&--nav-wrapper {
			padding:0 2%;
			width:80%;
		}

		
	}

	.alert-message--inside {
		padding:2%;
		width:80%;
	}

	.large-input--wrapper {
		padding:0 2%;
		width:80%;
	}

	




}

/*  XL Desktop  */
@media (min-width: 1281px) {

}











