html {
	font-size: 65.2%;
	color:#666;
	font-family: 'Open Sans', Arial, sans-serif;
}


h1, h2, h3 {
	font-family: 'Stalemate', cursive;
}

h4, h5, p, li, a {
	font-weight: 700;
	font-size: 16px;
	font-size: 1.6rem;
	margin:0;
}

h4 {
	margin-bottom:5px;
}

h1, h2 {
	font-size: 72px;
	font-size: 7.2rem;
	margin: 0;
}

h2 a {
	font-size: 72px;
	font-size: 7.2rem;
	font-weight: bold;
	color:#666;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

p, li, a{
	font-weight: 300;
	line-height: 1.5;
}
p {
	margin-bottom:20px;
}
a {
	color: #27a1c0;
}

a:hover {
	color:#107d98;
	text-decoration: underline;
}

button,
.btn {
	text-decoration: none;
	display: inline-block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #aaa;
	padding: 10px;
	color: #555;
	-webkit-transition: background .2s; /* For Safari 3.1 to 6.0 */
    transition: background .2s;

	&:hover {
		background:#eee;
	}
	&:focus,
	&:active {
		background:#ddd;
	}
}



.main-wrapper {

}

.main {
	margin: 0 auto;
	padding: 4%;
	box-sizing:border-box;
	background: white;
	border-radius: 10px;

	&--header {
		padding-top: 50px;
	}
}

.main--nav {
	background:#333;
	position: fixed;
	z-index: 1000;
	width:100%;
	top:0;

	ul {
		margin:0;
		padding:0;
	}
	li {
		list-style: none;
	}
	a {
		color:white;
	}

	&-wrapper {
		padding: 0 20px;
		margin: 0 auto;
		box-sizing:border-box;
		height:50px;
	}

	&-trigger {
		height:30px;
		width:28px;
		display: block;
		float:left;
		margin-top: 15px;
		text-indent: -9999;
		font-size: 0;

		span {
			background: white;
			height: 3px;
			width: 28px;
			float: left;
			margin-bottom: 5px;
		}
	}

	&-target {
		background:#333;
		position: absolute;
		left: -200px;
		top: 50px;
		width: 200px;
		height: 3000px;
		border-top: 1px solid #222;
		-webkit-transition: left .2s; 
		transition: left .2s;

		&.active {
			left: 0;
		}

		a {
			text-decoration: none;
			padding: 10px 20px;
			box-sizing: border-box;
			border-bottom: 1px solid #222;
			display: block;
			color:white;

			&:hover {
				background:#222;
			}


		}	
	}
}



.slideshow-wrapper {
	height:205px;
	overflow: hidden;
	position: relative;

	.arrow-back,
	.arrow-forward {
		position: absolute;
		top: 50%;
		left: 100px;
		height: 40px;
		width: 40px;
		background: black;
		content: '';
		display: block;
		border-radius: 20px;

		
		&:before,
		&:after  {
			height: 14px;
			width: 14px;
			background: #ccc;
			display: block;
			content: '';
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			position: absolute;
			top: 13px;
			left: 11px;
		}

		&:after {
			background:black;
			left: 6px;
		}



		
	}
	.arrow-back {
			&:before {
				left:14px;
			}
			&:after {
				left:19px;
			}
		}

	.arrow-forward {
		right:100px;
		left:auto;
	}
}

.slideshow {
	height:220px;
	width:100%;
	overflow-y: hidden;
	overflow-x: scroll;

	img {
		width:25%;
		float: left;

		&:first-child {
			margin-left:0;
		}
	}

	
}
.slideshow-holder {
	width:400%;


	.cms_placeholder  {
		width:25%;
	}
}


.logo {
	font-family: 'Stalemate', cursive;
	color:white;
	font-size: 3.8rem;
	text-align: center;
	width: 100%;
	display: block;

	span {
		margin-top: 3px;
		display: inline-block;
	}
	
}

.posts {
	
	h1, h2, h3, h4, h5, h6, p {
		max-width: 630px;
	}

	li {
		max-width: 560px;
	}

	h2 {
		padding-top: 30px;
		margin-top: 30px;
		border-top: 1px solid #ddd;


	}
	> article:first-child h2 {
		padding-top:0;
		margin-top:0;
		border-top:none;
	}

	&--pagination {
		background: white;
		width:100%;
		overflow: hidden;
		z-index: 10;
		position: relative;;

		.step-links {
			margin-top:70px;
		}
		.prev {
			float:left;
		}
		.next {
			float:right;
		}

		.current-page {
			display: none;
		}

		.ajax-loader {	
			display: none;
			margin-top:70px;		
			height: 32px;
			border-top: 1px solid #ddd;
			width: 100%;
			
			&--image {
				background: url("../img/ajax-loader.gif") no-repeat center;
				height: 32px;
				top: -15px;
				position: relative;
				margin: 0 auto;
				width: 32px;
				padding: 0 10px 0 10px;
				background-color: white;
				display: block;
			}
		}
	}
}

.js  {
	.posts--pagination {
		z-index: 0;
		.ajax-loader {
			display: none;
		}
		.step-links {
			display: block;
		}
	}

	.lazy {
		opacity: 0;
		&.loaded {
			transition: opacity 1s;
			-webkit-transition: opacity 1s;
			opacity: 1;
		}
	}
}

.aside {
	position: fixed;
	top: 140px;
	right: 4.1%;
	border:1px solid #eee;
	border-radius: 10px;
	width:27%;
	background:white;
	box-sizing: border-box;
	display: none;
	visibility: visible;
	transition: visibility 1s;
	transition: width 1s;
	-webkit-transition: visibility 1s;
	-webkit-transition: width 1s;

	&.loading {
		visibility: hidden;
	}

	&.active {
		width:92%;
		z-index: 20;

		.aside--trigger {
			&:before,
			&:after  {
				height: 11px;
				width: 3px;
				background: #ccc;
				display: block;
				content: '';
				-ms-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				position: absolute;
				top: 5px;
				left: 8px;
				


			}

			&:after {
				 -ms-transform: rotate(-45deg); /* IE 9 */
				-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
	    		transform: rotate(-45deg);
			}
		}

		
	}


	&--trigger {
		border: 1px solid #eee;
		height: 21px;
		width: 17px;
		border-radius: 5px 0 0 5px;
		position: absolute;
		top: 45%;
		left: -17px;
		background: white;
		border-right: 1px solid white;
		display: block;

		&:before,
		&:after  {
			height: 8px;
			width: 8px;
			background: #ccc;
			display: block;
			content: '';
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			position: absolute;
			top: 6px;
			left: 6px;
		}

		&:after {
			background:white;
			left: 10px;
		}
	}
}

.mymap,
.aside .plugin_picture {
	display: block;
	height: 340px;
	width: 100%;
	border-radius: 10px;
	border:5px solid white;
	box-sizing: border-box;
}

.aside .plugin_picture {

	height:auto;
	img {
		width:100%;
		border-radius: 5px;
	}
}

.gmnoscreen, .gmnoprint, .gm-style-cc { display:none; } 



.images {
	padding:20px 0;
	background:white;
	overflow: hidden;
	position: relative;
	z-index: 10;
	width:100%;

	&-row {



		img {
			float:left;
			width:100%;
			margin-right:0;
			margin-bottom:2%;

			border: 1px solid #eee;
			padding: 5px;
			box-sizing: border-box;
			border-radius: 5px;
		}

		&.two {
			img {
				width:49%;
				margin-right:2%;
				&:nth-child(even) {
					margin-right: 0;
				}
			}
		}

		&.three {

			img {
				width:32%;
				margin-right:2%;
				&:nth-child(3n + 3) {
					margin-right: 0;
				}
			}
		}
	}
}




.alert-message {
	background:#eab8b8;

	&--inside {
		
		display: none;
		margin: 0 auto;
		padding: 20px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;

	}

	p {
		margin-bottom:0;
		max-width: 68%;
		
	}
}

.oldbrowser {
	.oldbrowser-message {
		display:block;
	}
}

/* Overrides for mobile portrait */
@media (max-width: 479px) {

}
/*  Phone Landscape */
@media (min-width: 480px) {
	.slideshow-wrapper {
		height:245px;
	}
	.slideshow {
		height:260px;
	}

	.posts {
		h1, h2, h3, h4, h5, h6, p {
			max-width: 68%;
		}

		li {
			max-width: 60%;
		}
	}
	.aside {
		display: block;
	}
}

/*  Small tablets Portrait */
@media (min-width: 569px) {

	.main--header--nav-target {
		width:270px;
		left:-270px;
	}
	.slideshow-wrapper {
		height:315px;
	}
	.slideshow {
		height:330px;
	}
}

/*  Small Desktop / tablets Landscape  */
@media (min-width: 769px) {

	.main  {

	}
	.slideshow-wrapper {
		height:345px;
	}
	.slideshow {
		height:360px;
	}
	.images {
		width:68%;
	}


}

/*  Large Desktop */
@media (min-width: 1025px) {
	body {
		background:#eee;
	}
	.main {
		padding:2%;
		width:80%;
	
		&--nav-wrapper {
			padding:0 2%;
			width:80%;
		}

		position:relative;
		top:-120px;
		border:1px solid #ccc;
	}
	.slideshow-wrapper {
		height:465px;
	}
	.slideshow {
		height:480px;
	}
	.alert-message--inside {
		padding:2%;
		width:80%;
	}
	.aside {
		right: 12.1%;
		width: 20%;
		&.active {
			width:76%;
		}
	}
	.mymap {
		height:380px;
	}
}

/*  XL Desktop  */
@media (min-width: 1281px) {

}











