.page-standard {
	h3 {
		font-size: 18px;
			font-size: 1.8rem;
	}

	article {
		margin-bottom: 70px;
	}
}


/*  Small Desktop / tablets Landscape  */
@media (min-width: 769px) {
	.page-standard {
		h3 {
		}
	}

}


