.invoicify {

	min-height:1200px;
	overflow: hidden;


	p,
	h3,
	input[type="text"],
	label,
	span,
	dt,
	dd,
	li {
		font-size: 16px;
		font-size: 1.6rem;
	}
	input[type="text"]{
		margin-bottom: 10px;
		box-sizing: border-box;
	}
	input[type="text"].ng-invalid {
		border: 1px solid #d9534f;
		background: #fadfdf;
	}
	

	ul {
		padding: 0;
		margin:0 0 15px 0;
	}
	li {
		list-style: none;
	}
	dl {
		line-height: 1.8;
		margin:0;
	}
	dt {
	}
	dd {
		-webkit-margin-start: 0;
	}
	dt,
	label {
		font-weight: 700;
	}
	p {
		margin-bottom:0;
	}

	.company-name {
		margin-bottom:40px;
		margin-top:20px;
		h2 {
			margin:0;
		}
		input {
			margin-top:40px;
			width: 50%;
		}
	}

	.btn-large {
		float:right;
		margin-left:10px;
		background-image: none;
		padding-right:20px;
	}

	.leftform {
		float:left;
		width:28%;
		margin-bottom:50px;

	}

	.rightform {
		float:right;
		width:28%;
		margin-bottom:50px;
	}

	.belowform {
		width: 50%;
		border: 1px solid #cfcfcf;
		padding:15px;
		background: #eeeeee;
		margin-bottom:50px;
	}

	

	.invoice-table {
		background: #eeeeee;
		border: 1px solid #cfcfcf;
		clear: both;
		margin-bottom:50px;

		input[type="text"] {
			margin-top: 10px;
		}
	}

	&-post {
		overflow:hidden;
		border-bottom: 1px solid #cfcfcf;
		&:nth-of-type(odd) {
			background: white;
		}
	}

	&-header,
	&-post,
	&-edit-fields {
		.description,
		.amount,
		.price,
		.buttons,
		.total {
			padding:2%;	
			box-sizing:border-box;
			float:left;
		}
	}


	&-addpost {
		margin-top:10px;
	}


	.description {
		width: 62%;
		margin-left: 2%;
		padding-left:0;	


	}
	input.description {
		text-indent: 10px;
	}

	.amount,
	.price,
	.total {
		width: 12%;
		text-align: center;

		input {
			text-align: center;
		}
	}

	&-header {
		width:100%;
		overflow:hidden;
		border-bottom: 1px solid #cfcfcf;

		h3 {
			font-weight: bold;
			letter-spacing: 0;
			float:left;
			margin-bottom:0;
		}
	}

	&-total-holder {
		padding: 2%;
		box-sizing: border-box;
		overflow: hidden;
		clear: both;
		position: relative;
	}

	&-total-list {
		text-align: right;
		width: 28%;
		float: right;

		dt {
			float:left;
			width: 50%;
		}

		dd {
			float: right;
			width: 40%;
		}
	}
	.taxrate {
		input[type="text"] {
			float: right;
			margin: 0 !important;
			width: 57px;
			text-align: right;
		}
	}
	.topay {
		font-size: 22px;
		font-size: 2.2rem;
	}
	.buttons {
		float: left;
		position: absolute;
		bottom: 15px;
	}
}