.slideshow-wrapper {
	height:245px;
	overflow: hidden;
	position: relative;
	

	.arrow-back,
	.arrow-forward {
		display: none;
		position: absolute;
		top: 50%;
		height: 40px;
		width: 40px;
		background: black;
		content: '';
		border-radius: 20px;
		text-indent: -9999px;

		&:hover {
			background: #222;
			&:before {
				background:white;
			}
			&:after {
				background: #222;
			}
		}

		&:focus,
		&:active {
			top:50.3%;
		}

		
		&:before,
		&:after  {
			height: 14px;
			width: 14px;
			background: #ccc;
			display: block;
			content: '';
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			position: absolute;
			top: 13px;
		}

		&:after {
			background:black;
		}
	}

	.arrow-back {
		left:4%;
		&:focus,
		&:active {
			left:4.1%;
		}

		&:before {
			left:14px;
		}
		&:after {
			left:19px;
		}
	}

	.arrow-forward {
		right:4%;
		&:focus,
		&:active {
			right:3.9%;
		}

		&:before {
			left:11px;
		}
		&:after {
			left:6px;
		}
	}


	
}

.slideshow {
	height:220px;
	width:100%;
	overflow-y: hidden;
	overflow-x: scroll;
	position: relative;

	
	img {
		width:25%;
		float: left;

		&:first-child {
			margin-left:0;
		}
	}
	&-description {
		display: table;
		width: 80%;
		height: 100%;
		top: 0;
		position: absolute;
		z-index: 1000;
		margin: 0;
		margin-left:10%;
		span {
			text-align: center;
			color: white;
			width: 100%;
			font-weight: bold;
			display: table-cell;
			vertical-align: middle;
		}

	}
	
}
.slideshow-holder {
	width:400%;


	.cms_placeholder  {
		width:25%;
	}
}



/* Overrides for mobile portrait */
@media (max-width: 479px) {

}
/*  Phone Landscape */
@media (min-width: 480px) {
	.slideshow-wrapper {
		height:345px;
	}
	.slideshow {
		height:360px;
	}

}

/*  Small tablets Portrait */
@media (min-width: 569px) {

	.slideshow-wrapper {
		height:395px;

		
	}
	.slideshow {
		height:410px;
	}
}

/*  Small Desktop / tablets Landscape  */
@media (min-width: 769px) {

	.slideshow-wrapper {
		height:545px;

	}
	.slideshow {
		height:560px;
	}
}

/*  Large Desktop */
@media (min-width: 1025px) {

	.slideshow-wrapper {
		height:665px;
		.arrow-back {
			left:10%;
			&:focus,
			&:active {
				top:50.3%;
				left:10.1%;
			}

			&:before {
				left:14px;
			}
			&:after {
				left:19px;
			}
		}

		.arrow-forward {
			right:10%;
			&:focus,
			&:active {
				top:50.3%;
				right:9.9%;
			}

			&:before {
				left:11px;
			}
			&:after {
				left:6px;
			}
		}
	}
	.slideshow {
		height:680px;
	}

}

/*  XL Desktop  */
@media (min-width: 1281px) {

}
