html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  font-size: 65.2%;
  color: #777;
  line-height: 1.7;
  font-family: 'Open Sans', Arial, sans-serif;
}

body {
  font-size: 20px;
  font-size: 2rem;
  font-weight: 300;
}

h1, h2 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.7;
  margin: 10px 0;
  font-weight: 300;
  letter-spacing: -1px;
  font-size: 40px;
}

h2 a {
  font-weight: 300;
  letter-spacing: -1px;
  font-size: 30px;
  font-size: 3rem;
  margin: 10px 0;
  color: #777;
  text-decoration: none;
}
h2 a:hover {
  text-decoration: underline;
}

h3 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 26px;
  font-size: 2.6rem;
  margin-bottom: 10px;
  margin-top: 0;
}

h4, h5, p, li, a {
  font-weight: 700;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0;
}

h4 {
  margin-bottom: 5px;
}

p, li, a {
  font-weight: 300;
  line-height: 1.7;
}

p {
  margin-bottom: 20px;
}

a {
  color: #27a1c0;
}

a:hover {
  color: #107d98;
  text-decoration: underline;
}

button,
.btn {
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #aaa;
  padding: 10px;
  color: #555;
  -webkit-transition: background .2s;
  /* For Safari 3.1 to 6.0 */
  transition: background .2s;
  background: white;
}
button:hover,
.btn:hover {
  background: #eee;
}
button:focus, button:active,
.btn:focus,
.btn:active {
  background: #ddd;
}

input[type="text"] {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.main {
  margin: 0 auto;
  padding: 4%;
  box-sizing: border-box;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}
.main--header {
  padding-top: 50px;
}

.main--nav {
  background: #333;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
}
.main--nav ul {
  margin: 0;
  padding: 0;
}
.main--nav li {
  list-style: none;
}
.main--nav a {
  color: white;
}
.main--nav-wrapper {
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 50px;
}
.main--nav-trigger {
  height: 30px;
  width: 28px;
  display: block;
  float: left;
  margin-top: 15px;
  text-indent: -9999;
  font-size: 0;
  position: absolute;
}
.main--nav-trigger span {
  background: white;
  height: 3px;
  width: 28px;
  float: left;
  margin-bottom: 5px;
}
.main--nav-target {
  background: #333;
  position: absolute;
  left: -200px;
  top: 50px;
  width: 200px;
  height: 3000px;
  border-top: 1px solid #222;
  -webkit-transition: left .2s;
  transition: left .2s;
}
.main--nav-target.active {
  left: 0;
}
.main--nav-target a {
  text-decoration: none;
  padding: 10px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #222;
  display: block;
  color: white;
  font-size: 16px;
  font-size: 1.6rem;
}
.main--nav-target a:hover {
  background: #222;
}

.logo {
  font-family: 'Stalemate', cursive;
  color: white;
  font-size: 3.8rem;
  text-align: center;
  width: 100%;
  display: block;
}
.logo span {
  margin-top: 3px;
  display: inline-block;
}
.logo span a {
  text-decoration: none;
  font-size: 40px;
}

.alert-message {
  background: #eab8b8;
}
.alert-message--inside {
  display: none;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.alert-message p {
  margin-bottom: 0;
  max-width: 68%;
}

.oldbrowser .oldbrowser-message {
  display: block;
}

.large-input {
  padding: 5px;
  box-sizing: border-box;
  background: #bbdcde;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  top: 100px;
  width: 100%;
}
.large-input--wrapper {
  top: 120px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  padding: 0 4%;
  box-sizing: border-box;
}
.large-input input[type='text'] {
  border-radius: 5px;
  height: 28px;
  border: 1px solid #ccc;
  font-size: 25px;
  padding: 10px;
  color: #aaa;
  font-style: italic;
  float: left;
  width: 70%;
}
.large-input .btn {
  background: white;
  font-size: 16px;
  height: 50px;
  float: left;
  width: 25%;
}

.mail-holder {
  clear: both;
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
}
.mail-holder img {
  float: left;
  width: 70px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-right: 10px;
}
.mail-holder div {
  padding-top: 40px;
  font-size: 14px;
  font-size: 1.4rem;
}

.page-bottom {
  margin-top: 70px;
  height: 32px;
  border-top: 1px solid #ddd;
  width: 100%;
}
.page-bottom--image {
  text-indent: -9999px;
  background: url("../img/howler-logo-small.png") no-repeat center;
  height: 50px;
  top: -25px;
  position: relative;
  margin: 0 auto;
  width: 50px;
  padding: 0 10px 0 10px;
  background-color: white;
  display: block;
}

/* Overrides for mobile portrait */
/*  Phone Landscape */
@media (min-width: 480px) {
  .large-input {
    max-width: 62%;
  }
}
/*  Small tablets Portrait */
@media (min-width: 569px) {
  h1, h2 {
    margin-top: 20px;
    font-size: 40px;
    font-size: 4rem;
  }

  h2 a {
    font-size: 40px;
    font-size: 4rem;
  }

  h4, h5, p, li, a {
    font-size: 18px;
    font-size: 1.8rem;
  }

  .main--header--nav-target {
    width: 270px;
    left: -270px;
  }

  .mail-holder div {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
/*  Small Desktop / tablets Landscape  */
/*  Large Desktop */
@media (min-width: 1025px) {
  .main {
    padding: 6% 2% 2% 2%;
    width: 80%;
    position: relative;
  }
  .main--nav-wrapper {
    padding: 0 2%;
    width: 80%;
  }

  .alert-message--inside {
    padding: 2%;
    width: 80%;
  }

  .large-input--wrapper {
    padding: 0 2%;
    width: 80%;
  }
}
/*  XL Desktop  */
.aside {
  position: fixed;
  top: 140px;
  right: 4.1%;
  border-radius: 10px;
  width: 27%;
  background: white;
  box-sizing: border-box;
  display: none;
  visibility: visible;
  transition: visibility 1s;
  transition: width 1s;
  -webkit-transition: visibility 1s;
  -webkit-transition: width 1s;
  border: 1px solid #eee;
}
.aside.loading {
  visibility: hidden;
}
.aside.active {
  width: 92%;
  z-index: 20;
}
.aside.active .aside--trigger:before, .aside.active .aside--trigger:after {
  height: 11px;
  width: 3px;
  background: #ccc;
  display: block;
  content: '';
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 5px;
  left: 8px;
}
.aside.active .aside--trigger:after {
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}
.aside--trigger {
  border: 1px solid #eee;
  height: 21px;
  width: 17px;
  border-radius: 5px 0 0 5px;
  position: absolute;
  top: 45%;
  left: -17px;
  background: white;
  border-right: 1px solid white;
  display: block;
}
.aside--trigger:before, .aside--trigger:after {
  height: 8px;
  width: 8px;
  background: #ccc;
  display: block;
  content: '';
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 6px;
  left: 6px;
}
.aside--trigger:after {
  background: white;
  left: 10px;
}

.mymap,
.aside .plugin_picture {
  display: block;
  height: 340px;
  width: 100%;
  border-radius: 10px;
  border: 5px solid white;
  box-sizing: border-box;
}

.aside .plugin_picture {
  height: auto;
}
.aside .plugin_picture img {
  width: 100%;
  border-radius: 5px;
}

.map-title {
  padding: 7px;
  color: #999;
}

/* MAP */
.gmnoscreen, .gmnoprint, .gm-style-cc {
  display: none;
}

/* Overrides for mobile portrait */
/*  Phone Landscape */
@media (min-width: 480px) {
  .aside {
    display: block;
  }
}
/*  Small tablets Portrait */
/*  Small Desktop / tablets Landscape  */
/*  Large Desktop */
@media (min-width: 1025px) {
  .aside {
    right: 12.1%;
    width: 20%;
  }
  .aside.active {
    width: 76%;
  }

  .mymap {
    height: 380px;
  }
}
/*  XL Desktop  */
.slideshow-wrapper {
  height: 205px;
  overflow: hidden;
  position: relative;
}
.slideshow-wrapper .arrow-back,
.slideshow-wrapper .arrow-forward {
  display: none;
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  background: black;
  content: '';
  border-radius: 20px;
  text-indent: -9999px;
}
.slideshow-wrapper .arrow-back:hover,
.slideshow-wrapper .arrow-forward:hover {
  background: #222;
}
.slideshow-wrapper .arrow-back:hover:before,
.slideshow-wrapper .arrow-forward:hover:before {
  background: white;
}
.slideshow-wrapper .arrow-back:hover:after,
.slideshow-wrapper .arrow-forward:hover:after {
  background: #222;
}
.slideshow-wrapper .arrow-back:focus, .slideshow-wrapper .arrow-back:active,
.slideshow-wrapper .arrow-forward:focus,
.slideshow-wrapper .arrow-forward:active {
  top: 50.3%;
}
.slideshow-wrapper .arrow-back:before, .slideshow-wrapper .arrow-back:after,
.slideshow-wrapper .arrow-forward:before,
.slideshow-wrapper .arrow-forward:after {
  height: 14px;
  width: 14px;
  background: #ccc;
  display: block;
  content: '';
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 13px;
}
.slideshow-wrapper .arrow-back:after,
.slideshow-wrapper .arrow-forward:after {
  background: black;
}
.slideshow-wrapper .arrow-back {
  left: 4%;
}
.slideshow-wrapper .arrow-back:focus, .slideshow-wrapper .arrow-back:active {
  left: 4.1%;
}
.slideshow-wrapper .arrow-back:before {
  left: 14px;
}
.slideshow-wrapper .arrow-back:after {
  left: 19px;
}
.slideshow-wrapper .arrow-forward {
  right: 4%;
}
.slideshow-wrapper .arrow-forward:focus, .slideshow-wrapper .arrow-forward:active {
  right: 3.9%;
}
.slideshow-wrapper .arrow-forward:before {
  left: 11px;
}
.slideshow-wrapper .arrow-forward:after {
  left: 6px;
}

.slideshow {
  height: 220px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}
.slideshow img {
  width: 25%;
  float: left;
}
.slideshow img:first-child {
  margin-left: 0;
}

.slideshow-holder {
  width: 400%;
}
.slideshow-holder .cms_placeholder {
  width: 25%;
}

/* Overrides for mobile portrait */
/*  Phone Landscape */
@media (min-width: 480px) {
  .slideshow-wrapper {
    height: 245px;
  }

  .slideshow {
    height: 260px;
  }
}
/*  Small tablets Portrait */
@media (min-width: 569px) {
  .slideshow-wrapper {
    height: 315px;
  }

  .slideshow {
    height: 330px;
  }
}
/*  Small Desktop / tablets Landscape  */
@media (min-width: 769px) {
  .slideshow-wrapper {
    height: 345px;
  }

  .slideshow {
    height: 360px;
  }
}
/*  Large Desktop */
@media (min-width: 1025px) {
  .slideshow-wrapper {
    height: 465px;
  }
  .slideshow-wrapper .arrow-back {
    left: 10%;
  }
  .slideshow-wrapper .arrow-back:focus, .slideshow-wrapper .arrow-back:active {
    top: 50.3%;
    left: 10.1%;
  }
  .slideshow-wrapper .arrow-back:before {
    left: 14px;
  }
  .slideshow-wrapper .arrow-back:after {
    left: 19px;
  }
  .slideshow-wrapper .arrow-forward {
    right: 10%;
  }
  .slideshow-wrapper .arrow-forward:focus, .slideshow-wrapper .arrow-forward:active {
    top: 50.3%;
    right: 9.9%;
  }
  .slideshow-wrapper .arrow-forward:before {
    left: 11px;
  }
  .slideshow-wrapper .arrow-forward:after {
    left: 6px;
  }

  .slideshow {
    height: 480px;
  }
}
/*  XL Desktop  */
.page-standard h3 {
  margin-top: 70px;
}

/*  Small Desktop / tablets Landscape  */
.sites h2 {
  clear: both;
}

.site {
  display: block;
  border: 1px solid #ccc;
  width: 30%;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  float: left;
  margin-right: 5%;
  margin-bottom: 5%;
}
.site h2 {
  font-size: 26px;
  font-size: 2.6rem;
  font-family: arial;
  clear: both;
}
.site img {
  max-width: 100%;
}
.site:nth-of-type(3n) {
  margin-right: 0;
}

@media (min-width: 480px) {
  .sites {
    max-width: 68%;
  }
}
.posts h1, .posts h2, .posts h3, .posts h4, .posts h5, .posts h6, .posts p {
  max-width: 630px;
}
.posts li {
  max-width: 560px;
}
.posts h2 {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #ddd;
}
.posts > article:first-child h2 {
  padding-top: 0;
  margin-top: 0;
  border-top: none;
}
.posts--pagination {
  background: white;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  position: relative;
}
.posts--pagination .step-links {
  margin-top: 70px;
}
.posts--pagination .prev {
  float: left;
}
.posts--pagination .next {
  float: right;
}
.posts--pagination .current-page {
  display: none;
}
.posts--pagination .ajax-loader {
  display: none;
  margin-top: 70px;
  height: 32px;
  border-top: 1px solid #ddd;
  width: 100%;
}
.posts--pagination .ajax-loader--image {
  text-indent: -9999px;
  background: url("../img/ajax-loader.gif") no-repeat center;
  height: 32px;
  top: -15px;
  position: relative;
  margin: 0 auto;
  width: 32px;
  padding: 0 10px 0 10px;
  background-color: white;
  display: block;
}

.js .posts--pagination {
  z-index: 0;
}
.js .posts--pagination .ajax-loader {
  display: none;
}
.js .posts--pagination .step-links {
  display: block;
}
.js .lazy {
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}
.js .lazy.loaded {
  opacity: 1;
}

.images {
  padding: 20px 0;
  background: white;
  overflow: hidden;
  position: relative;
  z-index: 10;
  width: 100%;
}
.images-row img {
  float: left;
  width: 100%;
  margin-right: 0;
  margin-bottom: 2%;
  border: 1px solid #eee;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}
.images-row.two img {
  width: 49%;
  margin-right: 2%;
}
.images-row.two img:nth-child(even) {
  margin-right: 0;
}
.images-row.three img {
  width: 32%;
  margin-right: 2%;
}
.images-row.three img:nth-child(3n + 3) {
  margin-right: 0;
}

/* Overrides for mobile portrait */
/*  Phone Landscape */
@media (min-width: 480px) {
  .posts h1, .posts h2, .posts h3, .posts h4, .posts h5, .posts h6, .posts p {
    max-width: 68%;
  }
  .posts li {
    max-width: 60%;
  }
}
/*  Small tablets Portrait */
/*  Small Desktop / tablets Landscape  */
@media (min-width: 769px) {
  .images {
    width: 68%;
  }
}
/*  Large Desktop */
/*  XL Desktop  */
.invoicify {
  min-height: 1200px;
  overflow: hidden;
}
.invoicify h2 {
  margin-bottom: 40px;
}
.invoicify p,
.invoicify h3,
.invoicify input[type="text"],
.invoicify button,
.invoicify input[type="submit"],
.invoicify label,
.invoicify span,
.invoicify dt,
.invoicify dd {
  font-size: 14px;
  font-size: 1.4rem;
}
.invoicify dl {
  line-height: 1.8;
}
.invoicify dt {
  margin-right: 5px;
  float: left;
}
.invoicify dd {
  -webkit-margin-start: 0;
}
.invoicify dt,
.invoicify label {
  font-weight: 700;
}
.invoicify p {
  margin-bottom: 0;
}
.invoicify button,
.invoicify input[type="submit"] {
  padding: 5px;
}
.invoicify-leftform {
  float: left;
  width: 25%;
  margin-bottom: 50px;
}
.invoicify-rightform {
  float: right;
  width: 25%;
  margin-bottom: 50px;
}
.invoicify-post-holder {
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
.invoicify-post-holder .description,
.invoicify-post-holder .amount,
.invoicify-post-holder .price,
.invoicify-post-holder .buttons,
.invoicify-post-holder .total, .invoicify-addpost .description,
.invoicify-addpost .amount,
.invoicify-addpost .price,
.invoicify-addpost .buttons,
.invoicify-addpost .total {
  padding: 15px 0;
  box-sizing: border-box;
  margin-right: 2%;
  float: left;
}
.invoicify-addpost {
  margin-top: 10px;
}
.invoicify input[type="text"] {
  box-sizing: border-box;
}
.invoicify .description {
  width: 52%;
}
.invoicify .amount,
.invoicify .price,
.invoicify .total {
  width: 8%;
  text-align: center;
}
.invoicify .amount input,
.invoicify .price input,
.invoicify .total input {
  text-align: center;
}
.invoicify .buttons {
  width: 100px;
  margin-right: 0;
  float: right;
}
.invoicify-header {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid black;
}
.invoicify-header h3 {
  font-weight: bold;
  letter-spacing: 0;
  margin-right: 2%;
  float: left;
}
