{% extends "base.html" %}
{% load cms_tags %}
{% block body_class %}page-start{% endblock %}

{% block base_content %}

	<section id="posts" class="posts">		

	{% load thumbnail %}

	{% for post in posts %}
		<h2><a  href="{{ path }}#{{ post.slug }}">{{ post.title }}</a></h2>
		{% if post.largeimage_set.all %}
				<!-- One in a row -->
				<div class="images-row">
				{% if post.largeimage_set.all %}
				<!-- One in a row -->
				<div class="images-row">
				{% for image in post.largeimage_set.all  %}
				
					{% with "http://"|add:request.get_host|add:image.image1.url as path %}
					{% thumbnail path "750x350" crop="center" as im %}
						<img class="lazy" src="img.jpg" alt="" data-src="{{ im.url }}" >
					{% endthumbnail %}
					{% endwith %}

				{% endfor %}
				</div>
				{% endif %}
			{% endif %}
	{% endfor %}


	<!-- Pagination -->
	<div class="posts--pagination">

		{% if posts.has_next %}
		<div class="ajax-loader" data-url="?page={{ posts.next_page_number }}" data-holder="#posts">
			<div class="ajax-loader--image"></div>
		</div>
		{% endif %}


	    <span class="step-links">
	        {% if posts.has_previous %}
	            <a class="btn prev" href="?page={{ contacts.previous_page_number }}"> &laquo; Newer posts</a>
	        {% endif %}

	        <span class="current-page">
	            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
	        </span>

	        {% if posts.has_next %}
	            <a class="btn next" href="?page={{ posts.next_page_number }}">Older posts &raquo; </a>
	        {% endif %}
	    </span>
	</div>

	</section>

	<aside class="aside loading" role="complementary">
		<div class="mymap"></div>
	</aside>


{% endblock %}