{% extends "base.html" %}
{% load cms_tags %}
{% block body_class %}page-start{% endblock %}

{% block base_content %}

	<section id="posts" class="posts">		

	{% load thumbnail %}

	{% for post in posts %}
		
		<article id="{{ post.slug }}" class="post" data-long="{{ post.longitude }}" data-lat="{{ post.latitude }}" data-hex="{{ post.hexcode }}" role="article">
			{% with "http://"|add:request.get_host as path %}
			<h2><a  href="{{ path }}#{{ post.slug }}">{{ post.title }}</a></h2>
			{% endwith %}
			{{ post.content|safe }}

			{% if post.largeimage_set.all or post.mediumimage_set.all or post.smallimage_set.all%}
			<div class="images">

				
				{% if post.largeimage_set.all %}
				<!-- One in a row -->
				<div class="images-row">
				{% for image in post.largeimage_set.all  %}
				
					{% with "http://"|add:request.get_host|add:image.image1.url as path %}
						<img class="lazy" src="{{ STATIC_URL }}img/dummy-750x350.jpg" alt="" data-src="{{ path }}" >
					{% endwith %}

				{% endfor %}
				</div>
				{% endif %}

				{% if post.mediumimage_set.all %}
				<!-- Two in a row -->
				<div class="images-row two">
				{% for image in post.mediumimage_set.all  %}
					{% with "http://"|add:request.get_host|add:image.image2.url as path %}
						<img class="lazy" src="{{ STATIC_URL }}img/dummy-350x250.jpg" alt="" data-src="{{ path }}">
					{% endwith %}
				{% endfor %}
				</div>
				{% endif %}


				{% if post.smallimage_set.all %}
				<!-- Three in a row -->
				<div class="images-row three">
				{% for image in post.smallimage_set.all  %}

					{% with "http://"|add:request.get_host|add:image.image3.url as path %}
						<img class="lazy" src="{{ STATIC_URL }}img/dummy-250x250.jpg" alt="" data-src="{{ path }}">
					{% endwith %}
				{% endfor %}
				</div>
				{% endif %}

			</div><!--images-->
			{% endif %}

		</article>
	{% endfor %}


	<!-- Pagination -->
	<div class="posts--pagination">

		{% if posts.has_next %}
		<div class="ajax-loader" data-url="?page={{ posts.next_page_number }}" data-holder="#posts">
			<div class="ajax-loader--image"></div>
		</div>
		{% endif %}


	    <span class="step-links">
	        {% if posts.has_previous %}
	            <a class="btn prev" href="?page={{ contacts.previous_page_number }}"> &laquo; Newer posts</a>
	        {% endif %}

	        <span class="current-page">
	            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
	        </span>

	        {% if posts.has_next %}
	            <a class="btn next" href="?page={{ posts.next_page_number }}">Older posts &raquo; </a>
	        {% endif %}
	    </span>
	</div>

	</section>

	<aside class="aside loading" role="complementary">
		<div class="mymap"></div>
	</aside>


{% endblock %}