{% extends "base.html" %}
{% block ng_app %}ng-app="invoicify"{% endblock %}
{% load cms_tags %}
{% block body_class %}page-invoicify{% endblock %}


{% block base_content %}

	{% load verbatim %}
	{% verbatim %}

	<div class="main-wrapper" ng-controller="InvoicifyController as invoice">
		<main class="main" role="main">
			<section class="invoicify">
				<article>
					<h2>Invoice no: 1</h2>

					<ul class="leftform">
						<li ng-repeat="post in leftFormPosts">
							<div ng-hide="post.active"
								ng-click="editRow($index, leftFormPosts, leftFormSettings)">
								<span>{{ post.description }}</span>
								<button ng-click="editRow($index, leftFormPosts, leftFormSettings)">Edit</button>
								<button ng-click="deleteRow($index, leftFormPosts)">Delete</button>
							</div>

							<form ng-show="post.active" ng-submit="updateRow($index, leftFormPosts, leftFormSettings)">
								<input type="text" ng-model="newPost.description" />
								<input type="submit" class="btn" value="Update">
							</form>
						</li>
						<li>
							<button 
								ng-click="addRow(leftFormPosts, leftFormSettings)"
								ng-hide="leftFormSettings.isAddingRow">
								Add row
							</button>
							<form 
								ng-show="leftFormSettings.isAddingRow"
								ng-submit="saveRow($index, leftFormPosts, leftFormSettings)">
								<input type="text" ng-model="newPost.description" placeholder="add row">
								<input type="submit" class="btn" value="Save">
							</form>
						</li>
					</ul>

					<ul class="rightform">
						<li ng-repeat="post in rightFormPosts">
							<div ng-hide="post.active"
								ng-click="editRow($index, rightFormPosts, rightFormSettings)">
								<span>{{ post.description }}</span>
								<button ng-click="editRow($index, rightFormPosts, rightFormSettings)">Edit</button>
								<button ng-click="deleteRow($index, rightFormPosts)">Delete</button>
							</div>

							<form ng-show="post.active" ng-submit="updateRow($index, rightFormPosts, rightFormSettings)">
								<input type="text" ng-model="newPost.description" />
								<input type="submit" class="btn" value="Update">
							</form>
						</li>
						<li>
							<button 
								ng-click="addRow(rightFormPosts, rightFormSettings)"
								ng-hide="rightFormSettings.isAddingRow">
								Add row
							</button>
							<form 
								ng-show="rightFormSettings.isAddingRow"
								ng-submit="saveRow($index, rightFormPosts, rightFormSettings)">
								<input type="text" ng-model="newPost.description" placeholder="add row">
								<input type="submit" class="btn" value="Save">
							</form>
						</li>
					</ul>
					
					<div class="invoice-table">
						<header class="invoicify-header">
							<h3 class="description">Description</h3>
							<h3 class="amount">Amount</h3>
							<h3 class="price">Price</h2>
							<h3 class="total">Total</h3>
						</header>

						<div class="invoicify-post-holder" ng-repeat="post in mainPosts">
							<div class="invoicify-post" 
								ng-hide="post.active" 
								ng-click="editRow($index, mainPosts, mainSettings)">

								<div class="description"><p>{{ post.description }}</p></div>
								<div class="amount"><p>{{ post.amount }}</p></div>
								<div class="price"><p>{{ post.price }}</p></div>
								<div class="total"><p>{{ post.total }}</p></div>
								<div class="buttons">
									<button ng-click="editRow($index, mainPosts, mainSettings)">Edit</button>
									<button ng-click="deleteRow($index, mainPosts)">Delete</button>
								</div>
							</div>

							<form class="invoicify-edit" 
								ng-submit="updateRow($index, mainPosts, mainSettings, newPost)" 
								ng-show="post.active">

								<div class="description">
									<input type="text" ng-model="newPost.description" />
								</div>
								<div class="amount">
									<input type="text" ng-model="newPost.amount" />
								</div>
								<div class="price">
									<input type="text" ng-model="newPost.price" />
								</div>	
								<div class="total">
									<p>{{ post.total }}</p>
								</div>							
								<div class="buttons">
									<input class="btn" type="submit" value="Update" />
								</div>

							</form>

						</div>

						<div class="invoicify-addpost">

							<button 
								ng-click="addRow(mainPosts, mainSettings)" 
								ng-hide="mainSettings.isAddingRow">
								Add task
							</button>

							<form 
								ng-submit="saveRow($index, mainPosts, mainSettings, newPost)" 
								ng-show="mainSettings.isAddingRow">

								<div class="description">
									<input type="text" ng-model="newPost.description" />
								</div>
								<div class="amount">
									<input type="text" ng-model="newPost.amount" />
								</div>
								<div class="price">
									<input type="text" ng-model="newPost.price" />
								</div>		
								<div class="total">
									
								</div>						
								<div class="buttons">
									<input class="btn" type="submit" value="Save" />
								</div>

							</form>
						</div>
					</div>


					<ul class="belowform">
						<li ng-repeat="post in belowFormPosts">
							<div ng-hide="post.active" 
								ng-click="editRow($index, belowFormPosts, belowFormSettings)">

								<span>{{ post.description }}</span>
								<button ng-click="editRow($index, belowFormPosts, belowFormSettings)">Edit</button>
								<button ng-click="deleteRow($index, belowFormPosts)">Delete</button>
							</div>

							<form ng-show="post.active" ng-submit="updateRow($index, belowFormPosts, belowFormSettings)">
								<input type="text" ng-model="newPost.description" />
								<input type="submit" class="btn" value="Update">
							</form>
						</li>
						<li>
							<button 
								ng-click="addRow(belowFormPosts, belowFormSettings)"
								ng-hide="belowFormSettings.isAddingRow">
								Add row
							</button>
							<form 
								ng-show="belowFormSettings.isAddingRow"
								ng-submit="saveRow($index, belowFormPosts, belowFormSettings)">
								<input type="text" ng-model="newPost.description" placeholder="add row">
								<input type="submit" class="btn" value="Save">
							</form>
						</li>
					</ul>
				</article>
			</section>
		</main>
	</div>

	{% endverbatim %}


{% endblock %}