{% extends "base.html" %}
{% block ng_app %}ng-app="invoicify"{% endblock %}
{% load cms_tags %}
{% block body_class %}page-invoicify{% endblock %}


{% block base_content %}

	

	<div class="slideshow-wrapper">
		<div class="main--header-slideshow slideshow">
			<a href="#" class="arrow-back">Scroll images left</a>
			<a href="#" class="arrow-forward">Scroll images right</a>
			<div class="slideshow-holder">

			{% placeholder slideshow %}
			</div>
		</div>
	</div>

	</header>

	{% load verbatim %}
	{% verbatim %}

	<div class="main-wrapper" ng-controller="InvoicifyController as invoice">
		<main class="main" role="main">
			<section class="invoicify">
				<article>
					<form class="company-name" ng-submit="mainSettings.editingName = false">
						<h2 ng-hide="mainSettings.editingName"
							ng-click="mainSettings.editingName = true">
							{{ mainSettings.companyName }}
						</h2>
						<input type="text"

							ng-show="mainSettings.editingName"
							ng-model="mainSettings.companyName"
							value="{{ mainSettings.companyName }}" />
					</form>
					

					<div class="leftform" >
						<div class="leftform-output"
							ng-hide="leftFormSettings.inEditMode">
							<ul ng-click="leftFormSettings.inEditMode = true">
								<li ng-repeat="post in leftFormPosts">
									{{ post.description }}
								</li>
							</ul>
							<button 
								type="button" 
								ng-click="leftFormSettings.inEditMode = true" 
								class="btn btn-edit">
								Edit
							</button>
						</div>


						<div class="leftform-edit-fields"
							ng-show="leftFormSettings.inEditMode">
							<form ng-submit="saveForm(leftFormPosts, leftFormSettings)">
								<input 
									type="text" 
									ng-repeat="post in leftFormPosts"
									value="{{ post.description }}"
									ng-model="post.description" />
								<button 
									type="button"
									ng-click="addRow(leftFormPosts, leftFormSettings)" 
									class="btn btn-add">
									Add
								</button>
								<input type="submit" value="Save" class="btn btn-save" />
							</form>
							
						</div>

					</div>

					<div class="rightform">
						<div class="rightform-output"
							ng-hide="rightFormSettings.inEditMode">
							<ul ng-click="rightFormSettings.inEditMode = true">
								<li ng-repeat="post in rightFormPosts">
									{{ post.description }}
								</li>
							</ul>
							<button 
								type="button"
								ng-click="rightFormSettings.inEditMode = true" 
								class="btn btn-edit">
								Edit
							</button>
						</div>

						<div class="rightform-edit-fields" 
							ng-show="rightFormSettings.inEditMode">
							<form ng-submit="saveForm(rightFormPosts, rightFormSettings)">
								<input 
									type="text" 
									ng-repeat="post in rightFormPosts"
									value="{{ post.description }}"
									ng-model="post.description" />

								<button 
									type="button"
									ng-click="addRow(rightFormPosts, rightFormSettings)" 
									class="btn btn-add">
									Add
								</button>
								<input type="submit" value="Save" class="btn btn-save" />
							</form>
							
						</div>
					</div>
					
					<div class="invoice-table">
						<header class="invoicify-header">
							<h3 class="description">Description</h3>
							<h3 class="amount">Amount</h3>
							<h3 class="price">Price</h2>
							<h3 class="total">Total</h3>
						</header>

						<form name="mainform" novalidate ng-submit="mainform.$valid && saveForm(mainPosts, mainSettings)">
							<div class="invoicify-posts">
								<div class="invoicify-post" 
									ng-repeat="post in mainPosts"
									ng-hide="mainSettings.inEditMode"
									ng-click="mainSettings.inEditMode = true">
										<div class="description"><p>{{ post.description }}</p></div>
										<div class="amount"><p>{{ post.amount }}</p></div>
										<div class="price"><p>{{ post.price }}</p></div>
										<div class="total"><p>{{ post.total }}</p></div>
								</div>
							</div>
						
							<div class="invoicify-edit-fields" 
								ng-show="mainSettings.inEditMode">
								<div class="product"
									ng-repeat="post in mainPosts">
									<input 
										class="description" 
										type="text" 
										ng-model="post.description" 
										value="{{ post.description }}" />
									<input 
										class="amount" 
										type="text" 
										ng-model="post.amount" 
										ng-pattern="onlyNumbers"
										value="{{ post.amount }}" />
									<input 
										class="price" 
										type="text"
										ng-pattern="onlyNumbers"
										value="{{ post.price }}"
										ng-model="post.price"  />

									<div class="total"><p>{{ post.total }}</p></div>
								</div>
							</div>

							<div class="invoicify-total-holder">
								<dl class="invoicify-total-list">
									<dt>Summa:</dt>
									<dd>{{ mainSettings.total }}:-</dd>
									<dt>Tax rate %:</dt>
									<dd class="taxrate">
										<span ng-hide="mainSettings.inEditMode">{{ mainSettings.taxrate }}%</span>
										<span ng-show="mainSettings.inEditMode"><input type="text" ng-model="mainSettings.taxrate" ng-pattern="onlyNumbers" value="{{ mainSettings.taxrate }}"/></span>
									</dd>
									<dt>Tax:</dt>
									<dd>{{ mainSettings.tax }}:-</dd>
									<dt class="topay">To pay:</dt>
									<dd class="topay">{{ mainSettings.topay }}:-</dd>
								</dl>
								<div class="buttons">
									<button 
										type="button"
										class="btn btn-edit"
										ng-click="mainSettings.inEditMode = true"
										ng-hide="mainSettings.inEditMode">
										Edit
									</button>
									
									<button 
										type="button"
										class="btn btn-add"
										ng-click="addRow(mainPosts, mainSettings)"
										ng-show="mainSettings.inEditMode">
										Add
									</button>

									 <input 
										type="submit" 
										value="Save"
										ng-show="mainSettings.inEditMode"
										class="btn btn-save"
										 />
								</div>
							</div>



						</form>
						
					</div>


					<div class="belowform">
						<div class="belowform-output" ng-hide="belowFormSettings.inEditMode">
							<ul ng-click="belowFormSettings.inEditMode = true">
								<li ng-repeat="post in belowFormPosts">
									{{ post.description }}
								</li>

							</ul>
							<button ng-click="belowFormSettings.inEditMode = true" class="btn btn-edit">Edit</button>
						</div>

						<div class="belowform-edit-fields" ng-show="belowFormSettings.inEditMode">
							<form ng-submit="saveForm(belowFormPosts, belowFormSettings)">
								<input 
									type="text" 
									ng-repeat="post in belowFormPosts"
									value="{{ post.description }}"
									ng-model="post.description"  />

								<button
									type="button"
									ng-click="addRow(belowFormPosts, belowFormSettings)" 
									class="btn btn-add">
									Add
								</button>
								<input type="submit" value="Save" class="btn btn-save" />
							</form>
							
						</div>
					</div>

					<!--<button type="button" class="btn btn-save btn-large">Save PDF</button>-->
					<button type="button" class="btn btn-print btn-large" onClick="window.print();">Print</button>
				</article>
			</section>
		</main>
	</div>

	{% endverbatim %}


{% endblock %}