{% extends "base.html" %}
{% block ng_app %}ng-app="invoicify"{% endblock %}
{% load cms_tags %}
{% block body_class %}page-invoicify{% endblock %}


{% block base_content %}

	{% load verbatim %}
	{% verbatim %}

	<div class="main-wrapper" ng-controller="InvoicifyController as invoice">
		<main class="main" role="main">
			<section class="invoicify">
				<article>
					<h2>Invoice no: 1</h2>

					<!--<form class="invoicify-leftform" ng-submit="updateRow($index, leftrows, 'lefttop-form')">
						<ul>
							<li ng-repeat="row in leftrows" ng-click="editRow($index, leftrows, 'lefttop-form')">
								<span ng-hide="isRowActive($index, leftrows)">
									<span>{{ row.description }}</span>
									<button ng-click="editRow($index, leftrows)">Edit</button>
									<button ng-click="deleteRow($index, leftrows)">Delete</button>
								</span>
								<span ng-show="isRowActive($index, leftrows)">
									<input type="text"  />
									<input class="btn" type="submit" value="Update">
								</span>
							</li>
						</ul>
					</form>

					<form>
						<button ng-click="addRow(leftrows)">Add row</button>
						<input type="text" >
					</form>

					<form class="invoicify-rightform">
						<dl>
							<span>
								<dt>Client:</dt>
								<dd>Aftonbladet Resa</dd>
							</span>
							<span>
								<dt></dt>
								<dd>Bondegatan 45</dd>
							</span>
							<span>
								<dt></dt>
								<dd>11163, Stockholm</dd>
							</span>
						</dl>
					</form>

-->

					<div class="invoice-table">
						<header class="invoicify-header">
							<h3 class="description">Description</h3>
							<h3 class="amount">Amount</h3>
							<h3 class="price">Price</h2>
							<h3 class="total">Total</h3>
						</header>

						<div class="invoicify-post-holder" ng-repeat="post in mainPosts">
							<div class="invoicify-post" 
								ng-hide="isRowActive($index, mainPosts)" 
								ng-click="editRow($index, mainPosts, mainSettings)">

								<div class="description"><p>{{ post.description }}</p></div>
								<div class="amount"><p>{{ post.amount }}</p></div>
								<div class="price"><p>{{ post.price }}</p></div>
								<div class="total"><p>{{ post.total }}</p></div>
								<div class="buttons">
									<button ng-click="editRow($index, mainPosts, mainSettings)">Edit</button>
									<button ng-click="deleteRow($index, mainPosts)">Delete</button>
								</div>
							</div>

							<form class="invoicify-edit" 
								ng-submit="updateRow($index, mainPosts, mainSettings, newPost)" 
								ng-show="isRowActive($index, mainPosts)">

								<div class="description">
									<input type="text" ng-model="newPost.description" />
								</div>
								<div class="amount">
									<input type="text" ng-model="newPost.amount" />
								</div>
								<div class="price">
									<input type="text" ng-model="newPost.price" />
								</div>	
								<div class="total">
									<p>{{ post.total }}</p>
								</div>							
								<div class="buttons">
									<input class="btn" type="submit" value="Update" />
								</div>

							</form>

						</div>

						<div class="invoicify-addpost">

							<button 
								ng-click="addRow(mainPosts, mainSettings)" 
								ng-hide="isAddRowActive(mainSettings)">
								Add task
							</button>

							<form 
								ng-submit="saveRow($index, mainPosts, mainSettings, newPost)" 
								ng-show="isAddRowActive(mainSettings)">

								<div class="description">
									<input type="text" ng-model="newPost.description" />
								</div>
								<div class="amount">
									<input type="text" ng-model="newPost.amount" />
								</div>
								<div class="price">
									<input type="text" ng-model="newPost.price" />
								</div>		
								<div class="total">
									
								</div>						
								<div class="buttons">
									<input class="btn" type="submit" value="Save" />
								</div>

							</form>
						</div>

					</div>
				</article>
			</section>
		</main>
	</div>

	{% endverbatim %}


{% endblock %}