{% extends "base.html" %}
{% load cms_tags %}
{% block body_class %}page-myfavsites{% endblock %}

{% block base_content %}
	<div class="large-input--wrapper">
		<div class="large-input">
			<input class="search" type="text">
			<input type="submit" class="btn">
		</div>
	</div>

	<div class="slideshow-wrapper">
		<div class="main--header-slideshow slideshow">
			<a href="#" class="arrow-back">Scroll images left</a>
			<a href="#" class="arrow-forward">Scroll images right</a>
			<div class="slideshow-holder">

			{% placeholder slideshow %}
			</div>
		</div>
	</div>

	</header>
	<div class="main-wrapper">
		<main class="main" role="main">


			<section class="sites">
				<div class="sites--category">
					<h2>Category 1</h2>
					<a href="#" target="blank" class="site">
						<img src="http://lorempixel.com/output/abstract-q-c-500-300-9.jpg" alt="" title="" />
						<h3>Testing</h3>
						<p>Some dummy text</p>
					</a>
					<a href="#" target="blank" class="site">
						<img src="http://lorempixel.com/output/abstract-q-c-500-300-9.jpg" alt="" title="" />
						<h3>Testing</h3>
						<p>Some dummy text</p>
					</a>
					<a href="#" target="blank" class="site">
						<img src="http://lorempixel.com/output/abstract-q-c-500-300-9.jpg" alt="" title="" />
						<h3>Testing</h3>
						<p>Some dummy text</p>
					</a>
					<a href="#" target="blank" class="site">
						<img src="http://lorempixel.com/output/abstract-q-c-500-300-9.jpg" alt="" title="" />
						<h3>Testing</h3>
						<p>Some dummy text</p>
					</a>
				</div>


				<div class="sites--category">
					<h2>Category 2</h2>
					<a href="#" target="blank" class="site">
						<img src="http://lorempixel.com/output/abstract-q-c-500-300-9.jpg" alt="" title="" />
						<h3>Testing</h3>
						<p>Some dummy text</p>
					</a>
					<a href="#" target="blank" class="site">
						<img src="http://lorempixel.com/output/abstract-q-c-500-300-9.jpg" alt="" title="" />
						<h3>Testing</h3>
						<p>Some dummy text</p>
					</a>
					<a href="#" target="blank" class="site">
						<img src="http://lorempixel.com/output/abstract-q-c-500-300-9.jpg" alt="" title="" />
						<h3>Testing</h3>
						<p>Some dummy text</p>
					</a>
					<a href="#" target="blank" class="site">
						<img src="http://lorempixel.com/output/abstract-q-c-500-300-9.jpg" alt="" title="" />
						<h3>Testing</h3>
						<p>Some dummy text</p>
					</a>
				</div>



			</section>

			<aside class="aside" role="complementary">
				{% placeholder aside-image %}
			</aside>
		</main>
	</div>


{% endblock %}