
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>My Cool App</title>
		<meta name="viewport" content="width=device-width initial-scale=1">
		
		

		<!-- styles -->
		<link href='http://fonts.googleapis.com/css?family=Stalemate' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="style/main.css" type="text/css" />
		 


	</head>
	<body class="">


<header class="main--header">
	<nav class="main--nav">
		<div class="main--nav-wrapper">
			<a href="#" class="main--nav-trigger">
				<span></span><span></span><span></span>
			</a>
			<ul class="main--nav-target">
				<li><a href="index.html">Blog Feed</a></li>
				<li><a href="about.html">About</a></li>

			</ul>
		
			<div class="logo">
				<span>The Berlin Blog</span>
			</div>
		</div>
	</nav>
	
	<div class="main--header-slideshow slideshow">
		<div class="slideshow-holder">
			<img class="" src="img/1.jpg">
			<img class="" src="img/2.jpg">
			<img class="" src="img/3.jpg">
		</div>
</header>
<div class="main-wrapper">

	<main class="main" role="main">
		<section class="posts">


			<article class="post post-1" data-long="52.4965738" data-lat="13.4108379" data-hex="#00ffe6">
				<h2>Kreuzberg</h2>

				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros e</p>

				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros e</p>

				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros e</p>

				
			</article>

			<article class="post post-2" data-long="52.543506" data-lat="13.402763" data-hex="#e716c7">
				<h2>Mauerpark</h2>

				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros e</p>

				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros e</p>

				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros e</p>
			</article>

			<article class="post post-3" data-long="52.493285" data-lat="13.49149" data-hex="#e79b16">
				<h2>Sisyphos</h2>

				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros e</p>

				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros e</p>

				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros e</p>
			</article>

			<article class="post post-4" data-long="52.4965738" data-lat="13.4108379" data-hex="#16e716">
				<h2>Kreuzberg - our new home</h2>
				<p>When me and my friends and collegue Patricia first came here we were really lucky with getting an apartment. We actually got the first one we looked at. So unfortunatelly I don't have alot of experience looking around... although since it went so well for us I think my advice can be good anyway.
				</p>
				<h4>First week</h4>
				<p>
					I wouldn't recommend signing anything if you'are not in Berlin. Who knows what you might end up with. We started off by renting an apartment through <a href="www.airbnb">Airbnb</a> for one week in Kreuzberg where we wanted to live. That gave us some time to look around without feeling stressed. This was a great way of feeling the vibe in the neighbourhood.
				</p>
				<h4>Choose neighbourhood</h4>
				<p>First of all you choose where you want to live. From two mothns experience, this is my image of the popular neighbourhoods in Berlin:</p>
				<ul>
					<li><strong>Kreuzberg</strong> - one of the most popular places for people at the age of 18-32. It has a trashy and hip vibe to it with alot of streetart. It use to be really cheap but it has been up and coming for a while now. Lot's of cafés, restaurants, second hand shops and bars.</li>
					<li><strong>Neukölln</strong> - on the border to Kreuzberg. I think of it as the baby sister to Kreuzberg, it's not as expensive but it has the same vibe and will be up and coming. So this is a great place to invest in an apartment.</li>
					<li><strong>Prenzlauer Berg</strong> - a bit more clean and mature crowd than Kreuzberg. It still has a cool vibe, but the food and drinks are a bit more expensive. You often see some new parents in this neighbourhood.</li>
					<li><strong>Freidrichhain</strong> - a vibe that is in between Kreuzberg and Prezlauer. It has many cosy bars, shops and restaurats, but is not as busy as Kreuzberg. One of my favourite areas.</li>
					<li><strong>Mitte</strong> - the city center and of course close to everything. On the downside it's a bit harder to find charming places here. </li>
				</ul>
				<h4>Where to look?</h4>
				<p>We basically looked at every websites and sent a letter to each and everyone. It doesn't hurt to seem eager and show some interest. There's a mix of people who sublet their apartment.</p>
				<ul>
					<li>Bla</li>
					<li>Bla</li>
					<li>Bla</li>
				</ul>
				<h4>Make a good impression</h4>
				<p>All they want to know is that you are really interested, wont make a mess and have money to pay the rent. Everything else doesn't really matter. So when the viewing occurs, just try to seem as seriouse, interested and positive as possible. As long as you don't sign anything you can always turn it down afterwords. Be on time! It's important to show that you can take responsibility. After the viewing, ask for an e-mail where you can send references, passport copies and proof of your salery. Check your spelling in the e-mail.</p>

				<div class="images">
					

					
					<div class="images-row ">
						<img class="lazy" src="../img/slide-1.jpg">
					</div>
					<div class="images-row two">
						<img class="lazy" src="../img/slide-2.jpg">
						<img class="lazy" src="../img/img-3.jpg">
					</div>
					<div class="images-row three">
				
						<img class="lazy" src="../img/img-8.jpg">
						<img class="lazy" src="../img/img-5.jpg">
						<img class="lazy" src="../img/img-7.jpg">
				
					</div>
				</div>
			</article>
			<article>
				<h2>My first post!</h2>
				<p>My name is Charlotte Holmen, I'm a web developer from Stockholm that currently lives in Berlin. I started out this blog to try out some new features in web development, and at the same time I'll share some tips about Berlin.</p>
				<p>I you want to know more about this webpage, please go to <a href="about.html">About</a>. And for you who want to know more about Berlin, enjoy the blog!</p>
			</article>

			<div class="posts--pagination">
				<div class="ajax-loader" data-url="?page=2" data-holder="#posts">
					<div class="ajax-loader--image"></div>
				</div>
			
			    <span class="step-links">
			        <span class="current-page">
			            Page 1 of 3.
			        </span>
					<a class="btn next" href="?page=2">Older posts » </a>
			    </span>
			</div>
		</section>

		<aside class="aside">
			<div class="mymap"></div>
		</aside>


	</main>
</div>



	<!-- scripts -->
		<script data-main="js/main" src="js/require.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZALOy001opNrj_KlVRJzCfW9DMnCAzKU"></script>

	</body>
</html>