<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Cool App</title>
    <meta name="viewport" content="width=device-width initial-scale=1">
    
    <!-- scripts -->
    <script data-main="../js/main" src="../js/require.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZALOy001opNrj_KlVRJzCfW9DMnCAzKU"></script>


    <!-- styles -->
    <link href='http://fonts.googleapis.com/css?family=Stalemate' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../style/main.css" type="text/css" />
     
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


  </head>
  <body class="page-about">


<header class="main--header">
  <nav class="main--nav">
    <div class="main--nav-wrapper">
      <a href="#" class="main--nav-trigger">
        <span></span><span></span><span></span>
      </a>
      <ul class="main--nav-target">
        <li><a href="index.html">Blog Feed</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="myfavouritepages.html">My fav</a></li>

      </ul>
    
      <div class="logo">
        <span>The Berlin Blog</span>
      </div>
    </div>
  </nav>
  
  <div class="main--header-slideshow slideshow">
    <div class="slideshow-holder">
      <img class="" src="img/1.jpg">
      <img class="" src="img/2.jpg">
      <img class="" src="img/3.jpg">
    </div>
</header>
    <div class="main-wrapper">

      <main class="main" role="main">
        <section class="sites">
        <div class="sites--category">
          <h2>Category 1</h2>
            <a href="#" target="blank" class="site">
              <img src="http://lorempixel.com/output/abstract-q-c-500-300-9.jpg" alt="" title="" />
              <h3>Testing</h3>
              <p>Some dummy text</p>
            </a>
            <a href="#" target="blank" class="site">
              <img src="http://lorempixel.com/output/abstract-q-c-500-300-9.jpg" alt="" title="" />
              <h3>Testing</h3>
              <p>Some dummy text</p>
            </a>
            <a href="#" target="blank" class="site">
              <img src="http://lorempixel.com/output/abstract-q-c-500-300-9.jpg" alt="" title="" />
              <h3>Testing</h3>
              <p>Some dummy text</p>
            </a>
            <a href="#" target="blank" class="site">
              <img src="http://lorempixel.com/output/abstract-q-c-500-300-9.jpg" alt="" title="" />
              <h3>Testing</h3>
              <p>Some dummy text</p>
            </a>
          </div>


          <div class="sites--category">
            <h2>Category 2</h2>
            <a href="#" target="blank" class="site">
              <img src="http://lorempixel.com/output/abstract-q-c-500-300-9.jpg" alt="" title="" />
              <h3>Testing</h3>
              <p>Some dummy text</p>
            </a>
            <a href="#" target="blank" class="site">
              <img src="http://lorempixel.com/output/abstract-q-c-500-300-9.jpg" alt="" title="" />
              <h3>Testing</h3>
              <p>Some dummy text</p>
            </a>
            <a href="#" target="blank" class="site">
              <img src="http://lorempixel.com/output/abstract-q-c-500-300-9.jpg" alt="" title="" />
              <h3>Testing</h3>
              <p>Some dummy text</p>
            </a>
            <a href="#" target="blank" class="site">
              <img src="http://lorempixel.com/output/abstract-q-c-500-300-9.jpg" alt="" title="" />
              <h3>Testing</h3>
              <p>Some dummy text</p>
            </a>
          </div>
        </section>

        <aside class="aside">
          <div class="myportrait">
            <img src="" />
          </div>
        </aside>
      </main>
    </div>

  <!-- scripts -->
    <script data-main="../../static/js/main" src="../../static/js/require.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZALOy001opNrj_KlVRJzCfW9DMnCAzKU"></script>


  </body>
</html>